- content_for :page_title do
  = 'Static Settings'

- content_for :heading_actions do
  = button_tag t('generic.save_changes'), class: 'button', form: 'edit_static_setting'

= simple_form_for @static_setting, url: settings_static_settings_path(@staic_setting), html: { method: :put, id: 'edit_static_setting' } do |f|
  = render 'shared/error_messages', object: @static_setting
  = f.hidden_field :id, value: @static_setting.id

  .fields-row   
    .fields-row__column.fields-group.fields-row__column-6
      = f.input :max_poll_options, wrapper: :with_label, input_html: {  maxlength: 2 }, required: false, hint: false 
    .fields-row__column.fields-group.fields-row__column-6
      = f.input :max_poll_option_character, wrapper: :with_label, input_html: {  maxlength: 3 }, required: false , hint: false
  .fields-row
    .fields-row__column.fields-group.fields-row__column-6
      = f.input :user_fields, wrapper: :with_label, input_html: {  maxlength: 2 }, required: false, hint: false
    .fields-row__column.fields-group.fields-row__column-6
      = f.input :max_post_character, wrapper: :with_label, input_html: { maxlength: 4 }, required: false , hint: false
  .fields-row
    .fields-row__column.fields-group.fields-row__column-12
      = f.input :min_profile_description_character, wrapper: :with_label, input_html: { maxlength: 3 }, required: false, hint: true

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
